In [91]:
import pandas as pd

In [92]:
df = pd.read_excel('combined_excel.xlsx',index_col=0)[['46A','47A','78','LCBK']]
display(df)

,46A,47A,78,LCBK
3,1. SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS AN...,1. ALL DOCUMENTS MUST BE IN ENGLISH.2. ALL DOC...,+UPON RECEIPT OF CREDIT COMPLIANT DOCUMENTS AT...,"ICICI BANK LTD.,\nSHALIMAR TOWER, 31/54 M.G.MA..."
4,1. SIGNED COMMERCIAL INVOICE IN ORIGINAL AND 4...,(A) ALL DOCUMENTS AND DRAFTS (IF CALLED FOR UN...,IN REIMBURSEMENT OF NEGOTIATION MADE BY YOUIN ...,"NATIONAL COMMERCIAL BANK, THE\n(HEAD OFFICE)"
5,1.SIGNED COMMERCIAL INVOICE IN 03 ORIGINALS AN...,+ALL DOCUMENTS MUST MADE IN ENGLISH.+ALL DOCUM...,+ UPON RECEIPT OF ALL DOCUMENTS SENT TO US(VIE...,VIET NAM BANK FOR AGRICULTURE \nAND RURAL DEVE...
7,+SIGNED COMMERCIAL INVOICE IN TRIPLICATE INDIC...,ALL DRAFT(S) DRAWN HEREUNDER MUST BE MARKED ''...,ALL DOCUMENTS INCLUDING BENEFICIARY'S DRAFT(S)...,"THE MIZUHO BANK,LTD.,HEAD OFFICE"
12,+1.SIGNED COMMERCIAL INVOICE IN 3 ORIGINAL (S)...,+EACH SET OF DOCUMENTS PRESENTED WITH DISCREPA...,+ FORWARD DRAFTS AND DOCUMENTS TO STANDARD CHA...,STANDARD CHARTERED BANK (CHINA) \nLIMITED (HAN...
...,...,...,...,...
8396,+ COMMERCIAL INVOICE IN 3 ORIGINAL\r\n+ 2/3 SE...,+ T.T.REIMBURSEMENT : PROHIBITED\r\n+ INSURANC...,"ALL DOCS TO BE SENT DIRECTLY TO US (3-10-19, M...",SUMITOMO MITSUI BANKING \nCORPORATION
8397,1. BENEFICIARY'S MANUALLY SIGNED COMMERCIAL IN...,1.BILL OF LADING MUST EVIDENCE THE FOLLOWING:\...,1. ON RECEIPT OF ORIGINAL DOCUMENTS CONFORMING...,HSBC BANK MIDDLE EAST\nLTD
8403,1.SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS IND...,"1. ALL DOCUMENTS MUST BE DATED, SIGNED AND ISS...",+THE AMOUNT OF EACH DRAWING UNDER THIS CREDIT ...,AGRICULTURAL BANK OF \nCHINA LTD
8413,+ COMMERCIAL INVOICE IN 3 ORIGINAL\r\n+ 2/3 SE...,+ T.T.REIMBURSEMENT : PROHIBITED\r\n+ INSURANC...,"ALL DOCS TO BE SENT DIRECTLY TO US (3-10-19, M...",SUMITOMO MITSUI BANKING \nCORPORATION JAPAN
8414,+SIGNED AND STAMPED COMMERCIAL INVOICE IN 3 OR...,+KINDLY ASSIST US TO RELAY THIS CREDIT TO CITI...,+TO NEGOTIATING BANK ONLY : PLEASE FORWARD ALL...,"CTBC BANK CO.,LTD."

In [93]:
for i in ['46A','47A','78','LCBK']:
    print(df[i].str.contains('x000D').value_counts())

False    2658
Name: 46A, dtype: int64
False    2619
Name: 47A, dtype: int64
False    2585
Name: 78, dtype: int64
False    2660
Name: LCBK, dtype: int64

In [94]:
df['46A'].values[0]

"1. SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS AND 3 COPIES.2. FULL SET OF SIGNED 'CLEAN ON BOARD' OCEAN BILLS OF LADINGMADE OUT TO ORDER OF LETTER OF CREDIT ISSUING BANK MARKEDFREIGHT PREPAID EVIDENCING SHIPMENT OF MERCHANDISE DESCRIBEDABOVE. BILLS OF LADING MUST STATE FULL NAME AND ADDRESS OF BOTHAPPLICANT AND ICICI BANK LTD, SHALIMAR TOWER, 31/54 M.G.MARG,HAZRATGANJ, LUCKNOW 226001,UTTAR PRADESH, INDIA AS PARTIES TOBE NOTIFIED. SHORT FORM,FREIGHT FORWARDERS AND LASHBILLS OF LADING ARE NOT ACCEPTABLE.14 DAYS FREE DETENTION TIMESHOULD BE GIVEN AT DISCHARGE PORT AND THE SAME SHOULD BEMENTIONED EITHER ON THE BILL OF LADING OR BY A SEPARATECERTIFICATE FROM SHIPPING COMPANY OR FROM THEIR AGENTS MUSTACCOMPANY ORIGINAL DOCUMENTS.3.MARINE INSURANCE POLICY OR CERTIFICATE (1 ORIGINAL PLUS 1COPY) DATED NOT LATER THAN THE DATE OF BILLS OF LADING SIGNEDAND ISSUED BY INSURANCE COMPANY MADE TO ORDER AND BLANKENDORSED FOR 110 PCT OF CIF VALUE OF GOODS SUPPLIED, COVERINGINSTITUTE CARGO CLAUSE (A), INSTITUTE WAR CLAUSE (CARGO) ANDINSTITUTE STRIKES CLAUSE (CARGO), FROM BENEFICIARY'S WAREHOUSETO APPLICANT'S WAREHOUSE4. PACKING LIST IN 3 ORIGINALS AND 2 COPIES.5. CERTIFICATE OF ORIGIN ISSUED BY CHAMBER OF COMMERCE IN 1ORIGINAL AND 2 COPIES.6. CERTIFICATE ISSUED BY THE CARRIER OR ITS AGENT CERTIFYINGTHAT THE CARRYING VESSEL IS NOT MORE THAN 25 YEARS OLD ANDSEAWORTHY IN 2 ORIGINALS AND 1 COPY.7. CERTIFICATE OF ANALYSIS IN 2 ORIGINALS AND 2 COPIES."

In [95]:
import numpy as np

import re

def preprocess(x):
    x = str(x)
    x = re.sub('[\u4e00-\u9fa5]', '', x) # 1.去除中文
    x = re.sub('[’!"#$%&\'()*+,/:;<=>?@[\\]^_`{|}~，。,.]', '', x) # 2.去除標點符號
    x = x.replace('\n', '').replace('\r', '').replace('\t', '') # 3.去除換行符號
    x = str.strip(x) # 4.移除左右空白
    return x

def get_bank(text):
    text = str(text)
    text = preprocess(text)
    keywords = ['TO ORDER OF','TO THEORDER OF','TO THE ORDER OF','TOTHE ORDER OF','TO THE ORDER+OF','TOORDER OF']
    for i in keywords:
        if i in text:
            idx = text.split(i)[1].find('BANK')
            result = preprocess(text.split(i)[1][:idx+len('BANK')])
            if 'BANK' in result:
                return result
            else:
                return np.nan 
        else:
            return np.nan

In [96]:
df['46A'] = df['46A'].apply(preprocess)
df['47A'] = df['47A'].apply(preprocess)
df['78'] = df['78'].apply(preprocess)
df['LCBK'] = df['LCBK'].apply(preprocess)

In [97]:
df

,46A,47A,78,LCBK
3,1 SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS AND...,1 ALL DOCUMENTS MUST BE IN ENGLISH2 ALL DOCUME...,UPON RECEIPT OF CREDIT COMPLIANT DOCUMENTS AT ...,ICICI BANK LTDSHALIMAR TOWER 3154 MGMARGHAZRAT...
4,1 SIGNED COMMERCIAL INVOICE IN ORIGINAL AND 4 ...,A ALL DOCUMENTS AND DRAFTS IF CALLED FOR UNDER...,IN REIMBURSEMENT OF NEGOTIATION MADE BY YOUIN ...,NATIONAL COMMERCIAL BANK THEHEAD OFFICE
5,1SIGNED COMMERCIAL INVOICE IN 03 ORIGINALS AND...,ALL DOCUMENTS MUST MADE IN ENGLISHALL DOCUMENT...,UPON RECEIPT OF ALL DOCUMENTS SENT TO USVIETNA...,VIET NAM BANK FOR AGRICULTURE AND RURAL DEVELO...
7,SIGNED COMMERCIAL INVOICE IN TRIPLICATE INDICA...,ALL DRAFTS DRAWN HEREUNDER MUST BE MARKED DRAW...,ALL DOCUMENTS INCLUDING BENEFICIARYS DRAFTS MU...,THE MIZUHO BANKLTDHEAD OFFICE
12,1SIGNED COMMERCIAL INVOICE IN 3 ORIGINAL S IND...,EACH SET OF DOCUMENTS PRESENTED WITH DISCREPAN...,FORWARD DRAFTS AND DOCUMENTS TO STANDARD CHART...,STANDARD CHARTERED BANK CHINA LIMITED HANGZHOU...
...,...,...,...,...
8396,COMMERCIAL INVOICE IN 3 ORIGINAL 23 SET OF CLE...,TTREIMBURSEMENT PROHIBITED INSURANCE IS TO BE...,ALL DOCS TO BE SENT DIRECTLY TO US 3-10-19 MIN...,SUMITOMO MITSUI BANKING CORPORATION
8397,1 BENEFICIARYS MANUALLY SIGNED COMMERCIAL INVO...,1BILL OF LADING MUST EVIDENCE THE FOLLOWINGATH...,1 ON RECEIPT OF ORIGINAL DOCUMENTS CONFORMING ...,HSBC BANK MIDDLE EASTLTD
8403,1SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS INDI...,1 ALL DOCUMENTS MUST BE DATED SIGNED AND ISSUE...,THE AMOUNT OF EACH DRAWING UNDER THIS CREDIT M...,AGRICULTURAL BANK OF CHINA LTD
8413,COMMERCIAL INVOICE IN 3 ORIGINAL 23 SET OF CLE...,TTREIMBURSEMENT PROHIBITED INSURANCE IS TO BE...,ALL DOCS TO BE SENT DIRECTLY TO US 3-10-19 MIN...,SUMITOMO MITSUI BANKING CORPORATION JAPAN
8414,SIGNED AND STAMPED COMMERCIAL INVOICE IN 3 ORI...,KINDLY ASSIST US TO RELAY THIS CREDIT TO CITIT...,TO NEGOTIATING BANK ONLY PLEASE FORWARD ALL D...,CTBC BANK COLTD

In [98]:
df[['LCBK']]

                                                   LCBK
3     ICICI BANK LTDSHALIMAR TOWER 3154 MGMARGHAZRAT...
4               NATIONAL COMMERCIAL BANK THEHEAD OFFICE
5     VIET NAM BANK FOR AGRICULTURE AND RURAL DEVELO...
7                         THE MIZUHO BANKLTDHEAD OFFICE
12    STANDARD CHARTERED BANK CHINA LIMITED HANGZHOU...
...                                                 ...
8396                SUMITOMO MITSUI BANKING CORPORATION
8397                           HSBC BANK MIDDLE EASTLTD
8403                     AGRICULTURAL BANK OF CHINA LTD
8413          SUMITOMO MITSUI BANKING CORPORATION JAPAN
8414                                    CTBC BANK COLTD

[2660 rows x 1 columns]

In [99]:
texts = []
labels = []
not_find_count = 0
for idx in df.index:
    if df.loc[idx,'LCBK'] in df.loc[idx,'46A']:
        labels.append(df.loc[idx,'LCBK'])
        texts.append(df.loc[idx,'46A'])
    elif df.loc[idx,'LCBK'] in df.loc[idx,'47A']:
        labels.append(df.loc[idx,'LCBK'])
        texts.append(df.loc[idx,'47A'])
    elif df.loc[idx,'LCBK'] in df.loc[idx,'78']:
        labels.append(df.loc[idx,'LCBK'])
        texts.append(df.loc[idx,'78'])
    else:
        not_find_count += 1
table = pd.DataFrame()
table['text'] = texts
table['label'] = labels
table

,text,label
0,APPLICANTS ADDRESS19F HAICANG BUSINESS BUILDIN...,CTBC BANK CO LTD
1,THIS LC IS PAYABLE 30 DAYS AFTER BL DATE BL DA...,CTBC BANK CO LTD
2,1INSURANCE TO BE COVERED BY APPLICANT2CHARTER ...,CHANG HWA COMMERCIAL BANK LTD
3,ALL DOCUMENTS TO INDICATE THE NUMBER AND DATE ...,STANDARD CHARTERED BANK
4,DRAFTS AT SIGHTSIGNED COMMERCIAL INVOICE S IN ...,AXIS BANK LIMITED
...,...,...
1120,FULL SET OF CLEAN SHIPPED ON BOARD OCEAN BILL ...,BANK ISLAM MALAYSIA BERHAD
1121,DOCUMENTS MUST BE SENT TO BPER BANCA SPA VIA P...,BPER BANCA SPA
1122,APPLICANTS ADDRESS NO33 KEFENG ROAD SCIENCE CI...,CTBC BANK CO LTD
1123,APPLICANTS ADDRESS NO33 KEFENG ROAD SCIENCE CI...,CTBC BANK CO LTD
1124,PLEASE RELAY THIS LC TO THE ADVISING BANK WHIC...,CTBC BANK CO LTD

In [100]:
df.to_csv('46A47A78LCBK.csv')